main {
  display: grid;
  grid-template-columns: auto; /* Dos columnas */
  grid-template-rows: auto auto auto; /* Tres filas */
}
/* Contenedor principal de la sección */
#three-container {
  grid-column: 1 / 2; /* Primera columna */
  grid-row: 1 / 2; /* Ocupa las tres filas */
  border: 3px solid #2db74d;
  background-color: #252525; /* Fondo más oscuro para mayor contraste */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 12px; /* Tamaño de fuente más moderado */
  height: 560px; /* Alto del contenedor */
  overflow: hidden; /* Evita que el contenido exceda los límites */
  border-radius: 10px; /* Bordes redondeados */
  position: relative; /* Asegura que los elementos hijos puedan posicionarse */
}

/* Propiedades específicas del visor */
#three-container .viewer {
  width: 100%; /* Tamaño relativo al contenedor */
  height: 100%;
  left: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  position:absolute; /* Posicionamiento dentro del contenedor */
  z-index: 1; /* Asegura que esté por encima de otros elementos si es necesario */
}

/* Placeholder */
.placeholder {
  width: 100%;
  max-width: 500px;
  border-radius: 0.5em;
  background: #252525;
  padding: 2em;
  text-align: center;
}

.placeholder p {
  font-size: 1.2rem;
  color: #999;
}

/* Ejes */
.axes {
  width: 100px;
  height: 100px;
  margin: 20px;
  padding: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  pointer-events: none;
}

/* Interfaz gráfica */
.gui-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  font-size: small;
}

.gui-wrap > .main {
  pointer-events: all;
  max-height: 100%;
  overflow: auto;
  font-size: small;
}

.dg main{
  font-size: 12px;
}

.dg li.gui-stats:not(.folder) {
  height: auto;
  font-size: small;
}

/* Contenedor interno para centrar elementos */
.wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 560px; /* Alto del contenedor */
}

/* Zona de carga */
.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  width: 80%; /* Tamaño relativo */
  max-width: fit-content;
  transition: background-color 0.3s ease;
}

/* Botón de carga */
.upload-btn {
  margin-top: 15px;
}

.upload-btn label {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}


.upload-btn svg {
  margin-right: 5px;
  vertical-align: middle;
}

/* Spinner de carga */
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Ajuste de texto */
#three-container span {
  font-size: 10px;
  color: #ccc;
}

#three-container canvas {
  width: 100%; /* Canvas ocupa todo el ancho del contenedor */
  height: 100%; /* Canvas ocupa todo el alto del contenedor */
}

/* Estilo para el modal */
.modal {
  display: none; /* Inicialmente está oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(120, 111, 111, 0.5); /* Fondo semi-transparente */
}

/* Contenido del modal */
#modal-contenido {
  position: relative;
  margin: 5% auto;
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Bordes redondeados */
  text-align: center;
}

/* Botones en el modal */
#modal-actions {
  margin-top: 10px;
}

#modal-actions button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-descargar {
  background-color: #4CAF50; /* Verde */
  color: white;
}

#btn-descargar:hover {
  background-color: #45a049; /* Verde oscuro */
}

#btn-cerrar {
  background-color: #f44336; /* Rojo */
  color: white;
}

#btn-cerrar:hover {
  background-color: #d32f2f; /* Rojo oscuro */
}

